#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator-wrapper {
  max-width: 400px;
  background-color: rgb(52, 168, 162);
  padding: 10px;
  border: 5px solid black;
  border-radius: 8px;
}

#display {
  padding: 10px;
  width: 90%;
  margin: 5px;
  border: none;
  background-color: black;
  text-align: right;
  font-size: 2rem;
  color: beige;
  border-radius: 8px;
}

.btn {
  background-color: black;
  color: beige;
  font-size: 1.5rem;
}

.btn-wrapper {
  width: 95%;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(5 , 1fr) / repeat(4 , 1fr);
  gap: 3px;

}

.ac, .zero {
  grid-column: span 2;
}

.equal {
  grid-row: span 2;
  background-color: rgb(2, 2, 112);
}

.ac {
  background-color: rgb(188, 28, 0);
}

.sign {
  background-color: rgb(33, 32, 32);
}

#showResults {
  color: aliceblue;
}